
# Database URL for SQLite
BETTER_AUTH_URL=http://localhost:3000

# Generate a secret key: `pnpm dlx @better-auth/cli secret`
BETTER_AUTH_SECRET=BETTER_AUTH_SECRET=

GITHUB_CLIENT_ID=

GITHUB_CLIENT_SECRET=

CLOUDFLARE_ACCOUNT_ID=

CLOUDFLARE_DATABASE_ID=

CLOUDFLARE_D1_TOKEN=

GITHUB_ORGANIZATION=

MCP_RESOURCE_URL=http://localhost:3000/api/mcp

VITE_APP_URL=http://localhost